.dashboard, .contacts, .chat {
  display: flex;
}

.dashboard {
  height: calc(100% - 96px);
  background-image: url(./whatsup-bg.jpg);
  background-size: contain;
  background-position-y: -1px;
}

.contacts {
  flex: 1;
}

.chat {
  flex: 3.5;
}